body{
    font-family: "Libertinus Serif",　"Noto Serif JP",　serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
    background: white;
    color: #222;
}

header{
    margin-bottom:40px;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
    padding:0;
}

nav a{
    text-decoration:none;
    color:#005bbb;
}

nav a:hover{
    text-decoration:underline;
}

h1{
    font-size:2.2em;
}

h2{
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    margin-top:40px;
}

footer{
    margin-top:50px;
    border-top:1px solid #ddd;
    padding-top:15px;
    color:#666;
    font-size:0.9em;
}

li{
    margin-bottom:12px;
}
.talk{
    margin-bottom:30px;
}

.talk-title{
    margin-bottom:5px;
}

.talk-date{
    color:#666;
    font-size:0.9em;
}

.talk-info{
    margin-top:0;
    margin-left:20px;
    color:#444;
}
